/********** Variable **********/
:root {
  --hh-z-index-0: 0;
  --hh-z-index-1: 100;
  --hh-z-index-2: 200;
  --hh-z-index-3: 300;
  --hh-z-index-4: 400;
  --hh-z-index-top: 9999;
  --hh-color-black: #000000;
  --hh-color-slate: #999999;
  --hh-color-black-with-alpha: rgba(0, 0, 0, 0.6);
  --hh-color-transparent: transparent;
  --hh-effect-blur: blur(10px);
  --hh-effect-shadow: drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
  --hh-effect-grayscale: grayscale(100%) contrast(130%) brightness(40%);
  --hh-spacing-1x: 5px;
  --hh-spacing-2x: 10px;
  --hh-spacing-3x: 15px;
  --hh-spacing-4x: 20px;
  --hh-font-body-1-font-family: courier, monospace;
  --hh-font-body-1-font-size: 11px;
  --hh-font-body-1-line-height: 21px;
}

/********** Basic **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  overflow: hidden;
  height: 100%;
  background: var(--hh-color-black);
  counter-reset: section;
  cursor: wait;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--hh-color-slate);
  color: var(--hh-color-black);
}

/********** Type **********/
h1 {
  text-transform: uppercase;
  font-weight: normal;
}

h1::before {
  padding-right: var(--hh-spacing-2x);
  content: counter(section) ".";
  counter-increment: section;
}

h1:not(:first-child) {
  padding-top: calc(var(--hh-font-body-1-line-height) * 2);
}

h1, p, span, a, ul, li {
  color: var(--hh-color-slate);
  text-decoration: none;
  font-size: var(--hh-font-body-1-font-size);
  font-family: var(--hh-font-body-1-font-family);
  line-height: var(--hh-font-body-1-line-height);
}

a, a:link, a:hover, a:visited {
  color: var(--hh-color-slate);
  text-decoration: none;
  cursor: pointer;
}

a[data-value]:hover::after {
  content: ": "attr(data-value);
}

a[target=_blank] {
  cursor: ne-resize;
}

li {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

li {
  height: var(--hh-font-body-1-line-height);
  counter-reset: presslinks;
}

li a {
  counter-increment: presslinks +1;
}

li a~a {
  font-size: 0;
  line-height: var(--hh-font-body-1-line-height);
}

li a~a::after {
  content: counter(presslinks);
  font-size: var(--hh-font-body-1-font-size);
}

li a~a::before {
  content: " / ";
  font-size: var(--hh-font-body-1-font-size);
}

li a~a[data-value]:hover::after {
  content: attr(data-value);
}

/********** Animation **********/
a:hover, #horseshoe:hover {
  animation-name: flicker-animation;
  animation-duration: 2s;
}

@keyframes flicker-animation {
  0%, 2%, 6%, 8%, 12%, 16%, 18%, 99% {
    opacity: 1;
  }

  3%, 5%, 9%, 11%, 15%, 17%,
  to {
    opacity: 0;
  }
}

/********** Loader **********/
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 33.33vw;
  transform: translate(-50%, -50%);
}

#loader--bar {
  height: 1px;
  background: var(--hh-color-slate);
}

#loader--percentage {
  position: absolute;
  padding-top: var(--hh-spacing-4x);
  color: var(--hh-color-slate);
  font-size: var(--hh-font-body-1-font-size);
  font-family: var(--hh-font-body-1-font-family);
}

/********** Horseshoe **********/
#horseshoe {
  position: absolute;
  right: var(--hh-spacing-4x);
  bottom: var(--hh-spacing-4x);
  z-index: var(--hh-z-index-4);
  width: 80px;
  height: 80px;
  filter: var(--hh-effect-shadow);
  -webkit-filter: var(--hh-effect-shadow);
  cursor: help;
}

.horseshoe--cursor {
  cursor: w-resize !important;
}

/********** Main **********/
#main {
  position: absolute;
  z-index: var(--hh-z-index-1);
  overflow: scroll;
  width: 100%;
  height: 100%;
  background: var(--hh-color-black-with-alpha);
  backdrop-filter: var(--hh-effect-blur);
  -webkit-backdrop-filter: var(--hh-effect-blur);
}

#main::before {
  position: absolute;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, var(--hh-color-black), rgba(0, 0, 0, 0));
  content: "";
}

#main--iframe {
  position: absolute;
  z-index: var(--hh-z-index-2);
  width: 100%;
  height: 100%;
  border: 0;
}

#main--copy {
  position: absolute;
  z-index: var(--hh-z-index-3);
  display: grid;
  padding: var(--hh-spacing-4x);
  max-width: 110rem;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--hh-spacing-4x);
}

/********** Wall Image **********/
#wall-image {
  overflow-x: hidden;
  transition: filter 3s, scale 4s;
}

.wall-image--filter {
  filter: var(--hh-effect-grayscale);
  -webkit-filter: var(--hh-effect-grayscale);
  scale: 0.65;
}

map area {
  outline: none;
}

#tooltip {
  --b: rgba(0, 0, 0, 0) 90deg, var(--hh-color-slate) 0;
  --p: var(--hh-spacing-1x) var(--hh-spacing-1x) border-box no-repeat;
  margin-top: var(--hh-spacing-4x);
  padding: var(--hh-spacing-4x);
  min-width: 200px;
  background: conic-gradient(from 90deg at top 1px left 1px, var(--b)) 0 0 / var(--p), conic-gradient(from 180deg at top 1px right 1px, var(--b)) 100% 0 / var(--p), conic-gradient(from 0deg at bottom 1px left 1px, var(--b)) 0 100% / var(--p), conic-gradient(from -90deg at bottom 1px right 1px, var(--b)) 100% 100% / var(--p);
  background-color: var(--hh-color-black-with-alpha);
  color: var(--hh-color-slate);
  text-align: center;
  text-transform: uppercase;
  font-size: var(--hh-font-body-1-font-size);
  font-family: var(--hh-font-body-1-font-family);
  line-height: var(--hh-font-body-1-line-height);
  filter: var(--hh-effect-shadow);
  -webkit-filter: var(--hh-effect-shadow);
  backdrop-filter: var(--hh-effect-blur);
  -webkit-backdrop-filter: var(--hh-effect-blur);
}

/********** Notice **********/
#🍪 {
  position: absolute;
  bottom: 0;
  z-index: var(--hh-z-index-top);
  padding: var(--hh-spacing-4x);
  mix-blend-mode: difference;
}

/********** Mobile **********/
@media screen and (max-width: 768px) {
  h1 {
    padding-top: 0 !important;
  }

  h1::before, a[data-value]:hover::after {
    display: none;
  }

  #main--copy {
    display: block;
  }

  section {
    display: grid;
    column-gap: var(--hh-spacing-4x);
    grid-template-columns: 1fr 2fr;
    row-gap: calc(var(--hh-font-body-1-line-height) * 2);
  }

  section~section {
    padding-top: calc(var(--hh-font-body-1-line-height) * 2);
  }
}

/********** Hide **********/
#horseshoe, #main, #main--iframe, #wall-image {
  display: none;
}
