/***************************************** Variable *****************************************/

:root {
  --hh-z-index-0: 0;
  --hh-z-index-1: 100;
  --hh-z-index-2: 200;
  --hh-z-index-3: 300;
  --hh-z-index-4: 400;
  --hh-z-index-5: 500;
  --hh-z-index-top: 9999;
  --hh-color-black: #000000;
  --hh-color-slate: #999999;
  --hh-color-pale: #F7F7F7;
  --hh-color-black-with-alpha: rgba(0, 0, 0, 0.9);
  --hh-color-transparent: transparent;
  --hh-effect-blur: blur(8px);
  --hh-spacing-1x: 5px;
  --hh-spacing-2x: 10px;
  --hh-spacing-3x: 15px;
  --hh-spacing-4x: 20px;
  --hh-spacing-5x: 25px;
  --hh-spacing-6x: 30px;
  --hh-font-body-1-font-family: courier, monospace;
  --hh-font-body-1-font-size: 12px;
  --hh-font-body-1-line-height: 1.4;
  --hh-font-body-1-font-weight: 400;
}

/***************************************** Basic *****************************************/

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--hh-color-black);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--hh-color-slate);
  color: var(--hh-color-black);
}

::-moz-selection {
  background: var(--hh-color-slate);
  color: var(--hh-color-black);
}

/***************************************** Type *****************************************/

body,
p,
a,
pre,
li {
  font-weight: var(--hh-font-body-1-font-weight);
  font-size: var(--hh-font-body-1-font-size);
  font-family: var(--hh-font-body-1-font-family);
  line-height: var(--hh-font-body-1-line-height);
}

a,
a:link,
a:visited,
a:hover,
a:focus {
  color: var(--hh-color-slate);
  text-decoration: none;
}

a:active[target=_blank],
a:link[target=_blank],
a:visited[target=_blank],
a[target=_blank] {
  cursor: ne-resize;
}

a:hover,
.click-sound:hover,
#cookie-notice--dismiss:hover,
#footer--bottom--site-links--translate:hover {
  -webkit-animation-name: hover-flicker;
  animation-name: hover-flicker;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes hover-flicker {
  0%, 2%, 6%, 8%, 12%, 16%, 18%, 90% {
    opacity: 1;
  }

  3%, 5%, 9%, 11%, 15%, 17%,
  to {
    opacity: 0;
  }
}

/***************************************** Cookie *****************************************/

#cookie-notice {
  position: absolute;
  bottom: 0;
  z-index: var(--hh-z-index-top);
  box-sizing: border-box;
  width: 100%;
  background: var(--hh-color-black);
  color: var(--hh-color-slate);
  text-transform: uppercase;
  font-weight: var(--hh-font-body-1-font-weight);
  font-size: var(--hh-font-body-1-font-size);
  font-family: var(--hh-font-body-1-font-family);
  transform: translate3d(0, 0, 0);
  animation: cookie-notice-fadein 500ms ease;
}

@keyframes cookie-notice-fadein {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  100% {
    opacity: 100;
    transform: translate3d(0, 0, 0);
  }
}

#cookie-notice--message {
  margin: 0;
  padding: var(--hh-spacing-4x);
  width: 80%;
}

#cookie-notice--dismiss {
  position: absolute;
  top: var(--hh-spacing-4x);
  right: 0;
  bottom: var(--hh-spacing-4x);
  margin: 0;
  padding: 0 var(--hh-spacing-4x);
  width: 20%;
  outline: none;
  border: 0;
  background: var(--hh-color-transparent);
  color: var(--hh-color-slate);
  text-align: right;
  text-transform: uppercase;
  font-weight: var(--hh-font-body-1-font-weight);
  font-size: var(--hh-font-body-1-font-size);
  font-family: var(--hh-font-body-1-font-family);
  cursor: pointer !important;
}

/***************************************** Screensaver *****************************************/

#screensaver {
  position: fixed;
  z-index: var(--hh-z-index-top);
  width: 100vw;
  height: 100vh;
  background: var(--hh-color-black);
  cursor: none !important;
}

#pinterest-board {
  display: grid;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  list-style: none;
  grid-template-columns: repeat(10, 10fr);
  grid-template-rows: repeat(10, 10vh);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#pinterest-board>li {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(50%) contrast(0.8) brightness(0.9);
}

/***************************************** Scroll snap *****************************************/

.scroll-snap--container {
  overflow-y: scroll;
  max-height: 100vh;
  scroll-snap-type: y mandatory;
}

.scroll-snap--section {
  position: relative;
  scroll-snap-align: end;
}

#main {
  overflow: hidden;
  height: 100vh;
  background: var(--hh-color-black);
}

/***************************************** Navigation *****************************************/

#nav-top,
#nav-bottom {
  right: var(--hh-spacing-4x);
  left: var(--hh-spacing-4x);
  z-index: var(--hh-z-index-4);
  overflow: hidden;
  margin: auto;
  height: var(--hh-spacing-6x);
  color: var(--hh-color-slate);
  text-transform: uppercase;
  mix-blend-mode: difference;
}

#nav-top {
  position: fixed;
  top: var(--hh-spacing-4x);
}

#nav-top span {
  padding-left: var(--hh-spacing-4x);
}

#nav-top--loader-bar {
  position: relative;
  width: 0;
  height: 1px;
  background: var(--hh-color-slate);
}

#nav-top--hh {
  position: absolute;
  top: var(--hh-spacing-3x);
  left: 0;
  cursor: default !important;
}

#nav-top--hh--percentage {
  position: absolute;
}

#nav-top--close {
  position: absolute;
  top: var(--hh-spacing-3x);
  right: 0;
  cursor: pointer !important;
}

#nav-bottom {
  position: absolute;
  bottom: var(--hh-spacing-4x);
}

#nav-bottom--notice {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  font-family: var(--hh-font-body-1-line-height);
  cursor: default !important;
}

#nav-bottom--new-project {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer !important;
}

/***************************************** Terminal *****************************************/

#terminal {
  position: absolute;
  z-index: var(--hh-z-index-3);
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
}

.terminal--mix-blend-mode {
  mix-blend-mode: difference;
}

#terminal--iframe {
  position: absolute;
  z-index: var(--hh-z-index-3);
  width: 100%;
  height: 100%;
}

#terminal--copy {
  position: fixed;
  top: 50px;
  right: var(--hh-spacing-4x);
  left: var(--hh-spacing-4x);
  overflow: scroll;
  max-height: calc(100% - 350px);
  color: var(--hh-color-slate);
}

input[type="text"] {
  border: none;
  background: 0;
  color: var(--hh-color-slate);
  font-size: var(--hh-font-body-1-font-size);
  font-family: var(--hh-font-body-1-font-family);
}

input[type="text"]:focus {
  outline: none;
  color: var(--hh-color-slate);
}

#services-list>span::after,
#clients-list>span::after {
  content: ', ';
}

#services-list>span:last-child::after,
#clients-list>span:last-child::after {
  content: '.';
}

ol {
  padding: 0;
  list-style: none;
}

ol li span {
  display: inline-block;
  overflow: hidden;
  padding-right: var(--hh-spacing-4x);
  width: calc(25% - var(--hh-spacing-4x));
  text-overflow: ellipsis;
  white-space: nowrap;
}

ol li span:last-child {
  width: auto;
}

/***************************************** Wall Image *****************************************/

#wall-image--cover {
  position: absolute;
  z-index: var(--hh-z-index-2);
  width: 100%;
  height: 100%;
  background: var(--hh-color-black-with-alpha);
  backdrop-filter: var(--hh-effect-blur);
  -webkit-backdrop-filter: var(--hh-effect-blur);
}

#wall-image {
  overflow-x: hidden;
  -webkit-transition: filter 2s;
  -moz-transition: filter 2s;
  -o-transition: filter 2s;
  -ms-transition: filter 2s;
  transition: filter 2s;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.wall-image--filter {
  filter: grayscale(100%);
}

map area {
  outline: none;
}

#tooltip {
  top: 100%;
  margin-top: var(--hh-spacing-3x);
  padding: var(--hh-spacing-4x);
  min-width: 200px;
  border: 1px solid var(--hh-color-slate);
  background: var(--hh-color-black-with-alpha);
  color: var(--hh-color-slate);
  text-align: center;
  text-transform: uppercase;
  backdrop-filter: var(--hh-effect-blur);
  -webkit-backdrop-filter: var(--hh-effect-blur);
}

/***************************************** Footer *****************************************/

#footer {
  position: relative;
  z-index: var(--hh-z-index-3);
  height: 200px;
  background: var(--hh-color-black);
  color: var(--hh-color-slate);
  text-transform: uppercase;
}

#footer--top--logo {
  position: absolute;
  top: var(--hh-spacing-4x);
  left: var(--hh-spacing-4x);
  width: auto;
  height: 40px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#footer a:not(:last-child) {
  float: left;
  padding-right: var(--hh-spacing-4x);
}

#footer--bottom--site-links {
  position: absolute;
  bottom: var(--hh-spacing-4x);
  left: var(--hh-spacing-4x);
  float: left;
}

#footer--bottom--site-links--translate {
  padding-right: var(--hh-spacing-4x);
  border: none;
  background-color: transparent;
  color: var(--hh-color-slate);
  text-transform: uppercase;
  font-weight: var(--hh-font-body-1-font-weight);
  font-size: var(--hh-font-body-1-font-size);
  font-family: var(--hh-font-body-1-font-family);
  cursor: pointer !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#footer--bottom--site-links--newsletter {
  float: right;
  height: var(--hh-spacing-3x);
}

#footer--bottom--site-links--newsletter input {
  margin: 0;
  padding: 0;
  border: 0;
  background: var(--hh-color-transparent);
  color: var(--hh-color-slate);
  text-transform: uppercase;
  font-weight: var(--hh-font-body-1-font-weight);
  font-size: var(--hh-font-body-1-font-size);
  font-family: var(--hh-font-body-1-font-family);
  opacity: 1;
}

#newsletter--subscribe {
  text-transform: uppercase;
  cursor: pointer !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  -webkit-appearance: none;
}

::placeholder {
  color: var(--hh-color-slate);
}

:-ms-input-placeholder {
  color: var(--hh-color-slate);
}

::-ms-input-placeholder {
  color: var(--hh-color-slate);
}

#footer--bottom--follow-links {
  position: absolute;
  right: var(--hh-spacing-4x);
  bottom: var(--hh-spacing-4x);
  float: right;
}

.open {
  display: block;
}

/***************************************** Desktop Hide *****************************************/

#screensaver,
#nav-top--hh--clock,
#nav-top--close,
#nav-bottom,
#terminal--iframe,
#command,
#newsletter--subscribe,
#wall-image,
section,
.accordion {
  display: none;
}

/***************************************** Mobile *****************************************/

@media (max-width:800px) {

  .scroll-snap--container {
    overflow-y: scroll;
    max-height: auto;
    height: auto;
    scroll-snap-type: none;
  }

  #cookie-notice--message {
    padding: var(--hh-spacing-2x);
  }

  #cookie-notice--dismiss {
    top: var(--hh-spacing-2x);
    bottom: var(--hh-spacing-2x);
    padding: 0px var(--hh-spacing-2x);
  }

  #nav-top {
    position: fixed;
    top: var(--hh-spacing-3x);
    right: 0;
    left: 0;
    border-bottom: 1px solid var(--hh-color-slate);
  }

  #nav-top--hh {
    top: 0;
    left: var(--hh-spacing-2x);
  }

  #nav-top--hh--clock {
    display: inline;
  }

  #nav-top--close {
    top: 0;
    right: var(--hh-spacing-2x);
    display: block;
  }

  #terminal--copy {
    top: 45px;
    right: 0;
    left: 0;
    z-index: var(--hh-z-index-top);
    max-height: 100%;
    width: 100%;
  }

  .accordion {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: var(--hh-spacing-3x) var(--hh-spacing-2x);
    border-top: 1px solid var(--hh-color-slate);
    text-transform: uppercase;
    cursor: pointer !important;
  }

  .accordion:first-of-type {
    border-top: 0;
  }

  .accordion::after {
    float: right;
    content: '+';
  }

  .active::after {
    content: '-';
  }

  .accordion--panel {
    overflow: hidden;
    padding: 0 var(--hh-spacing-2x);
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

  #clients-list,
  #services-list {
    column-count: 2;
  }

  #services-list>span,
  #clients-list>span {
    display: block;
  }

  #clients-list>span,
  #services-list>span,
  #press-list>li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #services-list>span::after,
  #clients-list>span::after {
    content: '';
  }

  #services-list>span:last-child:after,
  #clients-list>span:last-child:after {
    content: '';
  }

  ol li span {
    display: inline;
    padding-right: 0;
  }

  ol li span:not(:last-child):after {
    content: ", ";
  }

  #wall-image, section, .mobile-hide {
    display: block;
  }

  #screensaver,
  #nav-bottom--new-project,
  #nav-bottom--notice,
  #command {
    height: 0;
    opacity: 0;
  }

  #nav-top--loader-bar,
  #nav-top--hh--percentage,
  #nav-top--close--title,
  #nav-bottom,
  #home,
  #list,
  #error,
  #preload,
  #wall-image--map,
  #tooltip,
  #footer {
    display: none;
  }
}
