/***************************************** Variable *****************************************/
:root {
  --hh-z-index-0: 0;
  --hh-z-index-1: 100;
  --hh-z-index-2: 200;
  --hh-z-index-3: 300;
  --hh-z-index-4: 400;
  --hh-z-index-top: 9999;
  --hh-color-black: #000000;
  --hh-color-slate: #999999;
  --hh-color-black-with-alpha: rgba(0, 0, 0, 0.8);
  --hh-color-transparent: transparent;
  --hh-effect-blur: blur(8px);
  --hh-spacing-1x: 5px;
  --hh-spacing-2x: 10px;
  --hh-spacing-3x: 15px;
  --hh-spacing-4x: 20px;
  --hh-font-body-1-font-family: courier, monospace;
  --hh-font-body-1-font-size: 12px;
  --hh-font-body-1-line-height: 22px;
  --hh-font-body-1-font-weight: 400;
}

/***************************************** Basic *****************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--hh-color-black);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--hh-color-slate);
  color: var(--hh-color-black);
}

::-moz-selection {
  background: var(--hh-color-slate);
  color: var(--hh-color-black);
}

/***************************************** Type *****************************************/
h1 {
  text-transform: uppercase;
}

h1,
p,
a,
li {
  color: var(--hh-color-slate);
  text-decoration: none;
  font-weight: var(--hh-font-body-1-font-weight);
  font-size: var(--hh-font-body-1-font-size);
  font-family: var(--hh-font-body-1-font-family);
  line-height: var(--hh-font-body-1-line-height);
}

a,
a:link,
a:visited,
a:hover,
a:focus {
  color: var(--hh-color-slate);
  text-decoration: none;
}

*[target=_blank] {
  cursor: ne-resize;
}

a[data-value]:hover::after {
  content: ": "attr(data-value);
}

a:hover,
#horseshoe:hover,
#cookie-notice--dismiss:hover {
  -webkit-animation-name: hover-flicker;
  animation-name: hover-flicker;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes hover-flicker {
  0%, 2%, 6%, 8%, 12%, 16%, 18%, 90% {
    opacity: 1;
  }

  3%, 5%, 9%, 11%, 15%, 17%,
  to {
    opacity: 0;
  }
}

/***************************************** Loader *****************************************/
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var(--hh-z-index-top);
  width: 200px;
  cursor: wait;
  transform: translate(-50%, -50%);
}

#loader--bar {
  width: 0;
  height: 1px;
  background: var(--hh-color-slate);
}

/***************************************** Horseshoe *****************************************/
#horseshoe {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var(--hh-z-index-4);
  width: 80px;
  height: 80px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.8));
  -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.8));
  cursor: help;
  transform: translate(-50%, -50%);
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.horseshoe--cursor {
  cursor: w-resize !important;
}

/***************************************** Main *****************************************/
#main {
  position: absolute;
  z-index: var(--hh-z-index-2);
  overflow: scroll;
  width: 100%;
  height: 100%;
}

#main:before {
  position: absolute;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, var(--hh-color-black), rgba(0, 0, 0, 0));
  content: "";
}

#main--iframe {
  position: absolute;
  z-index: var(--hh-z-index-2);
  width: 100%;
  height: 100%;
}

#main--copy {
  position: absolute;
  z-index: var(--hh-z-index-3);
  display: none;
}

.column {
  float: left;
  overflow: scroll;
  padding: var(--hh-spacing-4x);
  width: 25vw;
}

/***************************************** Wall Image *****************************************/
#wall-image--cover {
  position: absolute;
  z-index: var(--hh-z-index-1);
  width: 100%;
  height: 100%;
  background: var(--hh-color-black-with-alpha);
  backdrop-filter: var(--hh-effect-blur);
  -webkit-backdrop-filter: var(--hh-effect-blur);
}

#wall-image {
  overflow-x: hidden;
  -webkit-transition: filter 3s;
  -moz-transition: filter 3s;
  -o-transition: filter 3s;
  -ms-transition: filter 3s;
  transition: filter 3s;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.wall-image--filter {
  filter: grayscale(100%) contrast(110%) opacity(80%);
  -webkit-filter: grayscale(100%) contrast(110%) opacity(80%);
}

map area {
  outline: none;
}

#tooltip {
  top: 100%;
  margin-top: var(--hh-spacing-3x);
  padding: var(--hh-spacing-3x);
  min-width: 200px;
  border: 1px solid var(--hh-color-slate);
  background: var(--hh-color-black-with-alpha);
  color: var(--hh-color-slate);
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--hh-font-body-1-font-weight);
  font-size: var(--hh-font-body-1-font-size);
  font-family: var(--hh-font-body-1-font-family);
  line-height: var(--hh-font-body-1-line-height);
  backdrop-filter: var(--hh-effect-blur);
  -webkit-backdrop-filter: var(--hh-effect-blur);
}

/***************************************** Mobile *****************************************/
@media screen and (max-width: 1000px) {
  #loader {
    width: 25%;
  }

  .column {
    width: 100vw;
  }

  .column:not(:last-child) {
    padding-bottom: 0;
  }

  li {
    display: inline;
  }

  li:not(:last-child)::after {
    content: ",";
  }

  li:last-child::after {
    content: ".";
  }

  a[data-value]:hover::after {
    content: "";
  }

  #tooltip {
    opacity: 0;
  }
}

/***************************************** Cookie Notice *****************************************/
#cookie-notice {
  position: absolute;
  bottom: 0;
  z-index: var(--hh-z-index-top);
  box-sizing: border-box;
  padding: var(--hh-spacing-4x);
  width: 100%;
  background: var(--hh-color-black);
}

#cookie-notice--message {
  width: 80%;
}

#cookie-notice--dismiss {
  position: absolute;
  top: var(--hh-spacing-4x);
  right: 0;
  bottom: var(--hh-spacing-4x);
  padding-right: var(--hh-spacing-4x);
  width: 20%;
  border: 0;
  background: var(--hh-color-transparent);
  color: var(--hh-color-slate);
  text-align: right;
  font-weight: var(--hh-font-body-1-font-weight);
  font-size: var(--hh-font-body-1-font-size);
  font-family: var(--hh-font-body-1-font-family);
  cursor: pointer;
}
